* {
    padding: 0;
    margin: 0;
    font-family: new-font;
}
/* body {
    background: gray;
    animation: anim1 1s;
} */
video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover; 
}

#container {
    
    width: 1000px;
    
    margin: 0 auto;
}
    header {
        background: #66fcf1;
        width: 1000px;
        margin: 20px 0;
        border-radius: 5px;
        text-align: center;
    }
    header h1 {
        color: #0b0c10;
        padding: 20px 10px;
    }
    nav {
        background: #c5c6c7;
        width: 1000px;
        color: #66fcf1
        margin: 20px 0;
        border-radius: 5px;
    }
        nav ul{}
            nav li {
                color:  #66fcf1;
                list-style-type: none;
                float:left;
                padding: 10px 20px;
                border-radius: 5px;
            }
            
            nav li:hover {
                background: #1f2833;
                color:  #66fcf1;
                cursor: pointer;
            }
            nav a {    
                text-decoration: none;
                /* background: #1f2833; */
                color:  #1f2833
            }
            nav a:hover {       
                /* background: #45a29e;      */
                color: #66fcf1; 
                text-decoration:none;                   
            }
            
            
            
    main {
        /* background: #1f2833; */
        width: 1000px;        
        margin: 20px 0;
    }
        #sec1 {
            float: left;  
            width: 650px;
                     
        }
        #sec2{
            float: right;
            width: 320px;
            
        }
            aside {
                /* background: #45a29e; */
                padding: 20px;
                margin: 10px 0;
                border-radius: 5px;
            }
                .list-heading {
                    font-size: 23px;
                    text-align: center;
                    margin: 10px;
                }
                .list-data{}
                    .lists {
                        background: #1f2833;
                        color: #66fcf1;
                        border: #0b0c10 1px solid;
                        margin: 5px 0;
                        padding: 5px;
                        transition: padding 1s;
                    }
                    .lists:hover {
                        background: #66fcf1;
                        padding: 10px;
                        color: #1f2833;
                        
                    }
                aside input {
                    width: 280px;
                    height: 30px;
                    box-shadow: inset 0 0 5px #c5c6c7;
                    border: 1px solid black;
                }
                aside button {
                    width: 280px;
                    height: 30px;
                    /* border: 1px solid #0b0c10; */
                    background:#1f2833;
                    color: #66fcf1;
                    font-size: 18px;
                    margin: 10px 0;
                }
                aside button:hover {
                    width: 280px;
                    height: 30px;
                    /* border: 1px solid #0b0c10; */
                    background:#66fcf1;
                    color: #1f2833;
                    font-size: 18px;
                    margin: 10px 0;
                }
            article{
                /* background:#c5c6c7; */
                padding: 20px;
                margin: 10px 0;
                border-radius: 5px;
            }
                .title {
                    color: #45a29e;
                    margin: 10px 0px;
                    font-size: 25px;
                    font-weight: bold;
                }
                .description {
                    color: #66fcf1;
                    font-size: 17px ;
                    line-height: 20px;
                }
                .metadata {
                    margin: 10px 0;
                    color: #73fcf3;
                    
                }
            main a {    
                    text-decoration: none;
                    /* background: #1f2833; */
                    color:  #45a29e
                }
    footer{
        background: #66fcf1;
        width: 1000px;
        
        margin: 20px 0;
        text-align: center;
        padding: 20px 0;
        border-radius: 5px;
    }

@font-face {
    font-family: new-font;
    src: url(GoogleSans-Regular.ttf);
}

/* @keyframes anim1{
    to{ background: white;}
    from {background: gray;}
} */